* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
body {
  overflow-x: hidden;
}
header {
  background-color: black;
  /* text-indent: 80px; */
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 90px;
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 100;
}
.deepak-1 {
  display: flex;
}
.logo-1 {
  height: 50px;
  width: 50px;
}
.link-1 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
.link-1:first-of-type {
  margin-left: 40px;
}
.button-1 {
  color: white;
  background: rgba(255, 255, 255, 0.17);
  padding: 14px 12px;
  line-height: 16px;
  margin: 10px;
  margin-left: 650px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
}
.button-2 {
  color: #000000;
  background: #ffffff;
  padding: 14px 12px;
  line-height: 16px;
  margin: 10px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
}
.Hamburger {
  padding-left: 10px;
}
#section-1 {
  height: 350px;
  width: 100%;
  background-image: url(images/hero-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-y: 45%;
  position: relative;
}
.heading {
  color: #ffffff;
  max-width: 320px;
  text-align: left;
  position: absolute;
  top: 20vh;
  margin-left: -36px;
  left: 16.5%;
  letter-spacing: -1px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  margin-top: 55px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
.div-1 {
  width: 1100px;
  padding: 0px;
  margin: 0 auto;
  /* padding-top: 50px; */
}
.div-2 {
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f6;
  padding: 17px;
  width: 100%;
  margin-top: 0;
}
.div-3 {
  padding-top: 15px;
}
#location {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: black;
  background: #fff;
  border: 1.5px solid #e0e0e0;
  padding: 16px;
  width: 330px;
}

#location:after {
  /* content: url(images/current-location.svg); */
  width: 10px;
  height: 5px;
  background-color: black;
}
#destination {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: black;
  background: #fff;
  border: 1.5px solid #e0e0e0;
  padding: 16px;
  width: 330px;
}
.tabs-wrapper {
  position: absolute;
  top: 40%;
  /* left: 0; */
  width: 1100px;
  margin: 0 auto;
}
a {
  padding-left: 50px;
  text-decoration: none;
}
.deepak-arma {
  display: inline-block;
  flex-direction: row;
  width: 370px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  background: white;
  font-family: Gentona;
  padding: 13px;
  margin-top: 10px;
}
.search {
  padding: 20px;
  width: 330px;
  border: 0;
  background-color: black;
  color: white;
  background-image: url(images/ola_cabs_back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -3px 3px 0 #32c86e;
  font-size: 20px;
  font-weight: 700;
}
.green-banner {
  width: 100%;
  height: auto;
}
.div-4 {
  width: 100%;
}
.div-5 {
  margin-top: 315px;
}
.para-1 {
  font-size: 48px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 50px;
  color: #000000;
  text-align: center;
  padding-top: 80px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
.img-1 {
  width: 30%;
  height: auto;
}
.card img {
  width: 40%;
  height: auto;
}
.card .img-2 {
  /* height: 134px; */
  width: 184px;
}
/* .img-3 {
  width: 50px;
  height: 50px;
}  */
.div-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 30%;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
  padding-bottom: 100px;
}
.card-heading {
  color: #212026;
  margin: 10px 0;
  font-weight: 1100;
  line-height: 32px;
  font-size: 40px;
  /* padding-top: 10px; */
}
.card-title {
  color: #212026;
  margin: 10px 0;
  font-weight: 700;
  line-height: 32px;
  font-size: 28px;
  padding-top: 10px;
}
.card-content {
  color: #212026;
  opacity: 0.64;
  max-width: 60%;
  margin: auto;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
#section-2 {
  background-color: black;
  padding-top: 30px;
}
.s1 {
  color: #ffffff;
  text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92c83e;
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 48px;
  margin-top: 80px;
  padding-top: 100px;
}
.s1-sport {
  width: 100%;
  height: auto;
}
.hyper-mode {
  color: #ffffff;
  opacity: 0.64;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}
.div-class {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 150px; */
}
.div-p {
  width: 35%;
}
.div-a {
  color: #ffffff;
  opacity: 0.64;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  width: 33%;
  border: 2px solid #fff;
  text-align: center;
  padding: 20px 20px 40px 20px;
  border-image: linear-gradient(rgb(141 141 141), rgba(255, 255, 255, 0)) 15;
}
/* .div-a:first-of-type {
  margin-left: ;
} */
.div-0a {
  display: flex;
  justify-content: space-around;
  gap: 37px;
  width: 47%;
}
.km {
  font-size: 16px;
}

.range {
  margin-top: 12px;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #999999;
}
.more {
  letter-spacing: -0.02em;
  color: #16aa51;
  cursor: pointer;
  font-weight: 800;
  line-height: 24px;
  padding-top: 10px;
}
.pink-banner {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 150px;
}
.tech {
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 48px;
  margin-top: 100px;
  color: #000000;
  text-shadow: 1.152px 1.152px 0px #ffffff, 1.728px 1.728px 0px #92c83e;
}

.Futurefactory {
  width: 65%;
}
.ola-pro {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 16px;
  align-items: center;
  margin-right: 50px;
  display: flex;
}
.powered {
  background-color: #f0f4f4;
  padding-top: 150px;
  padding-left: 60px;
  padding-right: 60px;
}
.aru {
  display: flex;
  margin-bottom: 50px;
}
.deepak {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}
.section-3 {
  background-color: black;
}
.ride {
  display: flex;
  justify-content: space-between;
}
.ride-1 {
  margin-right: 25px;
  width: 100%;
}
.ride-bike {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.6);
}
.ola-pro-ride {
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 48px;
  font-size: 24px;
  padding-top: 20px;
}
#video-wrapper {
  margin-top: 100px;
}
.since {
  display: flex;
}
.tech-1 {
  /* padding-top: 150px; */
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 48px;
  margin-top: 150px;
  line-height: 56px;
  color: #000000;
  text-shadow: 1.152px 1.152px 0px #ffffff, 1.728px 1.728px 0px #92c83e;
}
.innovations {
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 80px;
}
.for-riders {
  font-weight: 800;
  font-size: 29px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 8px;
}
.experiment {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 30px;
}
.section-5 {
  background: rgb(241, 246, 233);
  width: 100%;
}
.insurance-shop-img {
  width: 65%;
}
.insurance-shop-img-1 {
  width: 91%;
}
.insurance-div {
  display: flex;
}
.Postpaid {
  margin-right: 8px;
  color: rgb(0, 0, 0);
  font-weight: 200;
  line-height: 28px;
  font-size: 24px;
  /* margin-left: 50px; */
  display: inline-block;
}
.Trusted {
  color: rgb(22, 170, 81);
  padding: 8px;
  background: rgba(22, 170, 81, 0.1);
  font-weight: 500;
  line-height: 10px;
  font-size: 14px;
}
.buy-now {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 0, 0);
  margin-top: 12px;
  /* margin-left: 50px; */
}
.ola-website {
  display: flex;
}
.ola-prod-website-1 {
  /* margin-left: 50px; */
  margin-top: 100px;
}
/* .icon-01:first-of-type {
  margin-left: 50px;
} */
.icon-01 {
  /* margin-left: 25px; */
  width: 23%;
}
.buy-now-1 {
  margin-top: 20px;
}
.new-insurance {
  color: #000000;
  font-weight: 200;
  line-height: 28px;
  font-size: 24px;
  margin-top: 100px;
}
.new-class {
  width: 100%;
  display: flex;
}
.risks {
  font-weight: 00;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-top: 12px;
  max-width: 300px;
}
.Explore-add {
  letter-spacing: -0.02em;
  color: rgb(22, 170, 81);
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  font-size: 22px;
  margin-top: 50px;
}
.section-10 {
  width: 100%;
}
.outcome-ola {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: rgb(92, 92, 92);
  /* margin-right: 58px; */
}
.making-ola {
  width: 44%;
}
.womens {
  padding-top: 30px;
  width: 100%;
  height: auto;
}
.donating {
  padding-top: 5px;
  width: 100%;
  height: auto;
}
.about-ola {
  letter-spacing: -0.02em;
  color: rgb(22, 170, 81);
  cursor: pointer;
  font-weight: 600;
  line-height: 24px;
  font-size: 22px;
  padding-top: 40px;
}
.xyz {
  background: rgb(242, 244, 240);
}
.images-windmill {
  width: 100%;
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}
.pli-agreement {
  width: 90%;
  height: auto;
}

.beginning-class {
  font-weight: 600;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 16px;
  margin-right: 25px;
  margin-top: 10px;
}
.img-box {
  width: 25%;
}
.know-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #16aa51;
  padding-bottom: 150px;
}
.section-6 {
  padding-top: 90px;
  background: #f2f4f6;
}
.iyt {
  display: ;
}
.insta {
  margin-top: 20px;
  margin-right: 30px;
}
.youtube {
  padding-right: 25px;
}
.footer-box {
  display: flex;
}
.deepak {
  display: flex;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 0px;
  padding: 10px;
  font-weight: 400;
  line-height: 15px;
  font-size: 17px;
  width: 170px;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
.div-10 {
  padding-bottom: 12px;
  margin: 0;
  font-style: italic;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
}
#placeholder {
  font-family: Gentona;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet Ms", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #707070;
  background: #fff;
  border: 1.5px solid #e0e0e0;
  padding: 16px;
  width: 300px;
}
.footer-container {
  width: 100%;
  /* padding: 50px; */
  margin: 0 17%;
}
.search-1 {
  padding: 16px;
  width: 31%;
  width: 300px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 700;

  background-size: cover;
  box-shadow: -3px 3px 0 #32c86e;
  margin-top: 30px;
}
.NEWSLETTER {
  color: #32c86e;
}
hr {
  margin-top: 30px;
  color: #e0e0e0;
}
.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #000000;
  opacity: 0.3;
  /* margin-top: 20px; */
}
.all-rights {
  display: flex;
  gap: 200px;
  padding: 20px 0px;
  align-items: center;
}
/* .notices {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  opacity: 0.3;
} */
.Privacy-Policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #000000;

  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.Notices {
  opacity: 0.3;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  opacity: 0.3;
  text-decoration-line: underline;
}
.Notices-1 {
  border: none;
  margin-left: 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: black;
  background: transparent;
}
.Download {
  max-width: 491px;
  margin: 0;
  margin-bottom: 48px;
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 48px;
  padding-top: 100px;
}
.experience {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  margin-bottom: 150px;
}
.communicate {
  width: 31%;
  margin-right: 20px;
  background: radial-gradient(100% 100% at 28.66% 0%, #f4f8fc 0%, #d8dde6 100%);
}
.ola-round {
  margin: 35px;
  border-radius: 20px;
}
.book-cabs {
  width: 31%;
  margin-right: 20px;
  background: radial-gradient(100% 100% at 28.66% 0%, #f9fcf4 0%, #e0e6d8 100%);
}
.book-driver {
  width: 31%;
  background: radial-gradient(100% 100% at 28.66% 0%, #f9fcf4 0%, #e0e6d8 100%);
}
.h3-ola {
  margin-top: 20px;
  margin-left: 35px;
  letter-spacing: -0.01em;
  color: #000000;
  /* font-weight: 500; */
  line-height: 48px;
  font-size: 25px;
}
.p-ola {
  width: 100%;
  letter-spacing: -0.01em;
  color: #000000;
  opacity: 0.64;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  font-weight: 400;
  line-height: 20px;
  font-size: 17px;
}
.bag-ola {
  margin-left: 50px;
  margin-top: 100px;
}
.Daily {
  /* margin-left: 50px; */
}
.much-more {
  right: 0px;
  bottom: -35px;
  color: #000000;
  opacity: 0.7;
  margin-left: 686px;
  padding-top: 5px;
  margin-bottom: 100px;
}
.one-lakh {
  display: flex;
  margin-top: 258px;
  margin-left: 15px;
}
.h3-div {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
}
.Daily-rental {
  background-color: #707070;
  display: flex;
  flex-direction: row;
  width: 304px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  background: white;
  font-family: Gentona;
  padding: 0 25px;
}
.Families {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212026;
  opacity: 0.64;
  letter-spacing: -0.01em;
  max-width: 10rem;
  margin-right: 90px;
}
.mother-bhai {
  padding-top: 27px;
  width: 100%;
  height: 515px;
  margin-left: 15px;
}
